In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

### Encoding problem

In [2]:
df = pd.read_csv('spotify-2023.csv' ,encoding='utf-8')

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 4-5: unexpected end of data

In [ ]:
#!pip install chardet

### Method 1 identify the correct encoding

In [3]:
import chardet

with open('spotify-2023.csv', 'rb') as file:
    result = chardet.detect(file.read())
    print(result['encoding'])

ISO-8859-1

In [26]:
df = pd.read_csv('spotify-2023.csv' ,encoding='ISO-8859-1')

In [27]:
df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

### Method 2 ignore the encoding errors

In [28]:
df2 = pd.read_csv('spotify-2023.csv', encoding='utf-8', encoding_errors='ignore')

In [29]:
df2.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

In [30]:
df.isnull().sum()

track_name               0
artist(s)_name           0
artist_count             0
released_year            0
released_month           0
released_day             0
in_spotify_playlists     0
in_spotify_charts        0
streams                  0
in_apple_playlists       0
in_apple_charts          0
in_deezer_playlists      0
in_deezer_charts         0
in_shazam_charts        50
bpm                      0
key                     95
mode                     0
danceability_%           0
valence_%                0
energy_%                 0
acousticness_%           0
instrumentalness_%       0
liveness_%               0
speechiness_%            0
dtype: int64

# Print rows where 'in_shazam_charts' column has missing values

In [31]:
df[df['in_shazam_charts'].isna()][['track_name','artist(s)_name','artist_count','released_year', 'in_shazam_charts']].sample(4)

,track_name,artist(s)_name,artist_count,released_year,in_shazam_charts
86,Someone You Loved,Lewis Capaldi,1,2018,NaN
180,Night Changes,One Direction,1,2014,NaN
519,MONTERO (Call Me By Your Name),Lil Nas X,1,2020,NaN
392,Calm Down,Rï¿½ï,1,2022,NaN

df = df.dropna(inplace=True): 
When you set inplace=True, the dropna() operation modifies the original df directly and returns None. By assigning df to this, you are overwriting df with None.

So don't store the 'df.dropna(inplace=True)' outputs into a df's original variable

In [32]:
df.dropna(inplace=True)

In [33]:
df.isnull().sum()

track_name              0
artist(s)_name          0
artist_count            0
released_year           0
released_month          0
released_day            0
in_spotify_playlists    0
in_spotify_charts       0
streams                 0
in_apple_playlists      0
in_apple_charts         0
in_deezer_playlists     0
in_deezer_charts        0
in_shazam_charts        0
bpm                     0
key                     0
mode                    0
danceability_%          0
valence_%               0
energy_%                0
acousticness_%          0
instrumentalness_%      0
liveness_%              0
speechiness_%           0
dtype: int64

In [35]:
df.sample()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
698,Sweetest Pie,"Dua Lipa, Megan Thee Stallion",2,2022,3,11,3501,0,299634472,69,...,124,G,Major,81,68,63,17,0,10,22

In [40]:
numerical_columns= df.describe().columns

In [41]:
numerical_columns

Index(['artist_count', 'released_year', 'released_month', 'released_day',
       'in_spotify_playlists', 'in_spotify_charts', 'in_apple_playlists',
       'in_apple_charts', 'in_deezer_charts', 'bpm', 'danceability_%',
       'valence_%', 'energy_%', 'acousticness_%', 'instrumentalness_%',
       'liveness_%', 'speechiness_%'],
      dtype='object')

In [39]:
total_columns = df.columns

In [42]:
total_columns

Index(['track_name', 'artist(s)_name', 'artist_count', 'released_year',
       'released_month', 'released_day', 'in_spotify_playlists',
       'in_spotify_charts', 'streams', 'in_apple_playlists', 'in_apple_charts',
       'in_deezer_playlists', 'in_deezer_charts', 'in_shazam_charts', 'bpm',
       'key', 'mode', 'danceability_%', 'valence_%', 'energy_%',
       'acousticness_%', 'instrumentalness_%', 'liveness_%', 'speechiness_%'],
      dtype='object')

### non numerical columns

In [52]:
non_numeric_col = []
for col in total_columns:
    if col not in numerical_columns.values:
        non_numeric_col.append(col)
        print(col)

track_name
artist(s)_name
streams
in_deezer_playlists
in_shazam_charts
key
mode

In [48]:
df['streams'].sample(3)

371    698086140
185     47956378
844     91781263
Name: streams, dtype: object

In [49]:
df['in_deezer_playlists'].sample(3)

924    158
489     22
272      0
Name: in_deezer_playlists, dtype: object

In [51]:
df['in_shazam_charts'].sample(3)

600    13
655     0
149    13
Name: in_shazam_charts, dtype: object

In [56]:
df['key'].value_counts()

key
C#    115
G      91
F      87
G#     85
D      78
B      77
A      71
F#     69
E      59
A#     55
D#     30
Name: count, dtype: int64

In [55]:
df['mode'].value_counts()

mode
Major    452
Minor    365
Name: count, dtype: int64

In [53]:
non_numeric_col

['track_name',
 'artist(s)_name',
 'streams',
 'in_deezer_playlists',
 'in_shazam_charts',
 'key',
 'mode']