In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

### Encoding problem

In [2]:
# df = pd.read_csv('spotify-2023.csv' ,encoding='utf-8')

In [3]:
#!pip install chardet

### Method 1 identify the correct encoding

In [4]:
import chardet

with open('spotify-2023.csv', 'rb') as file:
    result = chardet.detect(file.read())
    print(result['encoding'])

ISO-8859-1

In [5]:
df = pd.read_csv('spotify-2023.csv' ,encoding='ISO-8859-1')

In [6]:
df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

### Method 2 ignore the encoding errors

In [7]:
df2 = pd.read_csv('spotify-2023.csv', encoding='utf-8', encoding_errors='ignore')

In [8]:
df2.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

In [9]:
df.isnull().sum()

track_name               0
artist(s)_name           0
artist_count             0
released_year            0
released_month           0
released_day             0
in_spotify_playlists     0
in_spotify_charts        0
streams                  0
in_apple_playlists       0
in_apple_charts          0
in_deezer_playlists      0
in_deezer_charts         0
in_shazam_charts        50
bpm                      0
key                     95
mode                     0
danceability_%           0
valence_%                0
energy_%                 0
acousticness_%           0
instrumentalness_%       0
liveness_%               0
speechiness_%            0
dtype: int64

# Print rows where 'in_shazam_charts' column has missing values

In [10]:
df[df['in_shazam_charts'].isna()][['track_name','artist(s)_name','artist_count','released_year', 'in_shazam_charts']].sample(4)

,track_name,artist(s)_name,artist_count,released_year,in_shazam_charts
535,drivers license,Olivia Rodrigo,1,2021,NaN
86,Someone You Loved,Lewis Capaldi,1,2018,NaN
513,good 4 u,Olivia Rodrigo,1,2021,NaN
449,Snowman,Sia,1,2017,NaN

df = df.dropna(inplace=True): 
When you set inplace=True, the dropna() operation modifies the original df directly and returns None. By assigning df to this, you are overwriting df with None.

So don't store the 'df.dropna(inplace=True)' outputs into a df's original variable

In [11]:
df.dropna(inplace=True)

In [12]:
df.isnull().sum()

track_name              0
artist(s)_name          0
artist_count            0
released_year           0
released_month          0
released_day            0
in_spotify_playlists    0
in_spotify_charts       0
streams                 0
in_apple_playlists      0
in_apple_charts         0
in_deezer_playlists     0
in_deezer_charts        0
in_shazam_charts        0
bpm                     0
key                     0
mode                    0
danceability_%          0
valence_%               0
energy_%                0
acousticness_%          0
instrumentalness_%      0
liveness_%              0
speechiness_%           0
dtype: int64

In [13]:
df.sample()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
724,Something Just Like This,"The Chainsmokers, Coldplay",2,2017,2,22,23375,21,2204080728,336,...,103,B,Minor,61,47,65,3,0,17,4

In [14]:
df.describe().columns.shape

(17,)

In [15]:
numerical_columns= df.describe().columns

In [16]:
numerical_columns

Index(['artist_count', 'released_year', 'released_month', 'released_day',
       'in_spotify_playlists', 'in_spotify_charts', 'in_apple_playlists',
       'in_apple_charts', 'in_deezer_charts', 'bpm', 'danceability_%',
       'valence_%', 'energy_%', 'acousticness_%', 'instrumentalness_%',
       'liveness_%', 'speechiness_%'],
      dtype='object')

In [17]:
total_columns = df.columns

In [18]:
total_columns

Index(['track_name', 'artist(s)_name', 'artist_count', 'released_year',
       'released_month', 'released_day', 'in_spotify_playlists',
       'in_spotify_charts', 'streams', 'in_apple_playlists', 'in_apple_charts',
       'in_deezer_playlists', 'in_deezer_charts', 'in_shazam_charts', 'bpm',
       'key', 'mode', 'danceability_%', 'valence_%', 'energy_%',
       'acousticness_%', 'instrumentalness_%', 'liveness_%', 'speechiness_%'],
      dtype='object')

### non numerical columns

In [19]:
non_numeric_col = []
for col in total_columns:
    if col not in numerical_columns.values:
        non_numeric_col.append(col)
        print(col,"--->dtype----------->", type(col))

track_name --->dtype-----------> <class 'str'>
artist(s)_name --->dtype-----------> <class 'str'>
streams --->dtype-----------> <class 'str'>
in_deezer_playlists --->dtype-----------> <class 'str'>
in_shazam_charts --->dtype-----------> <class 'str'>
key --->dtype-----------> <class 'str'>
mode --->dtype-----------> <class 'str'>

In [20]:
df['streams'].sample(3)

597    422691058
472     65362788
271    885093467
Name: streams, dtype: object

In [21]:
df['in_deezer_playlists'].sample(3)

162    3,631
416       12
709       24
Name: in_deezer_playlists, dtype: object

In [22]:
df['in_shazam_charts'].sample(3)

896    0
402    0
453    0
Name: in_shazam_charts, dtype: object

In [23]:
df['key'].value_counts()

key
C#    115
G      91
F      87
G#     85
D      78
B      77
A      71
F#     69
E      59
A#     55
D#     30
Name: count, dtype: int64

In [24]:
df['mode'].value_counts()

mode
Major    452
Minor    365
Name: count, dtype: int64

In [25]:
df['artist(s)_name'].value_counts()

artist(s)_name
Taylor Swift           29
SZA                    17
Bad Bunny              16
The Weeknd             15
Kendrick Lamar         12
                       ..
Kanii, PR1ISVX          1
Yng Lvcas               1
NF                      1
TiÃ¯Â¿Â½Ã¯Â¿Â½sto, Tate M     1
Feid, Sech, Jhayco      1
Name: count, Length: 571, dtype: int64

In [26]:
non_numeric_col

['track_name',
 'artist(s)_name',
 'streams',
 'in_deezer_playlists',
 'in_shazam_charts',
 'key',
 'mode']

In [27]:
for x in non_numeric_col:
    if x in ['track_name', 'artist(s)_name', 'key', 'mode']:
        pass
    else:
     df[x] = pd.to_numeric(df[x], errors='coerce')

In [28]:
df['in_deezer_playlists'] = pd.to_numeric(df['in_deezer_playlists'], errors='coerce')
df['in_deezer_playlists']

0       45.0
1       58.0
2       91.0
3      125.0
4       87.0
       ...
948     37.0
949      8.0
950      7.0
951     17.0
952     32.0
Name: in_deezer_playlists, Length: 817, dtype: float64

### shortcut code

In [29]:
non_numeric_col = df.select_dtypes(include=['object']).columns
print(non_numeric_col)

for x in non_numeric_col:
    if x in ['track_name', 'artist(s)_name', 'key', 'mode']:
        pass
    else:
        df[x] = pd.to_numeric(df[x], errors='coerce')

Index(['track_name', 'artist(s)_name', 'key', 'mode'], dtype='object')

In [34]:
df.describe().columns.shape

(20,)

In [35]:
df.describe()

,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_playlists,in_deezer_charts,in_shazam_charts,bpm,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
count,817.000000,817.000000,817.000000,817.000000,817.000000,817.000000,8.160000e+02,817.000000,817.000000,752.000000,817.000000,813.000000,817.000000,817.000000,817.000000,817.000000,817.000000,817.000000,817.000000,817.000000
mean,1.567931,2018.457772,6.018360,13.696450,4849.898409,11.722154,4.689858e+08,60.161567,49.473684,93.492021,2.451652,51.691267,122.565483,67.391677,51.201958,64.362301,26.309670,1.676867,18.168911,10.526316
std,0.876211,10.829267,3.572554,9.299663,7741.126455,18.617668,5.231267e+08,74.923594,49.570455,155.561951,5.397024,128.746914,28.174803,14.688458,23.620978,16.107587,25.470972,8.767328,13.541996,10.219987
min,1.000000,1930.000000,1.000000,1.000000,31.000000,0.000000,2.762000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,65.000000,23.000000,4.000000,14.000000,0.000000,0.000000,3.000000,2.000000
25%,1.000000,2021.000000,3.000000,5.000000,829.000000,0.000000,1.342848e+08,12.000000,6.000000,12.000000,0.000000,0.000000,99.000000,57.000000,32.000000,53.000000,5.000000,0.000000,10.000000,4.000000
50%,1.000000,2022.000000,5.000000,13.000000,2040.000000,3.000000,2.638368e+08,32.000000,34.000000,32.000000,0.000000,2.000000,120.000000,70.000000,51.000000,66.000000,17.000000,0.000000,12.000000,6.000000
75%,2.000000,2022.000000,9.000000,22.000000,4890.000000,16.000000,6.011986e+08,78.000000,84.000000,99.000000,2.000000,37.000000,141.000000,79.000000,70.000000,76.000000,41.000000,0.000000,24.000000,12.000000
max,8.000000,2023.000000,12.000000,31.000000,52898.000000,147.000000,3.562544e+09,532.000000,275.000000,964.000000,45.000000,953.000000,206.000000,96.000000,97.000000,97.000000,97.000000,91.000000,97.000000,64.000000

In [32]:
df.sample(5)

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
728,Tom's Diner,"AnnenMayKantereit, Giant Rooks",2,2019,6,28,2605,0,236872197.0,15,...,98,F#,Minor,68,33,43,38,0,36,14
726,O.O,NMIXX,1,2022,2,22,290,0,135444283.0,9,...,200,B,Minor,39,28,77,4,0,6,29
53,(It Goes Like) Nanana - Edit,Peggy Gou,1,2023,6,15,2259,59,57876440.0,0,...,130,G,Minor,67,96,88,12,19,8,4
226,Stand By Me (feat. Morgan Wallen),"Lil Durk, Morgan Wallen",2,2023,5,26,381,5,46065667.0,23,...,134,B,Major,76,61,58,6,0,16,3
639,RAPSTAR,Polo G,1,2021,4,9,4731,0,797402345.0,141,...,81,F#,Major,79,44,54,41,0,13,24

In [43]:
df['streams']= (df['streams']/df['streams'].max())*100

In [44]:
df['streams']

0       3.968560
1       3.753393
2       3.929888
3      22.479465
4       8.511792
         ...
948     2.567642
949     3.420923
950     2.063517
951     3.758427
952     2.694911
Name: streams, Length: 817, dtype: float64

In [45]:
df['streams'].describe()

count    816.000000
mean      13.164351
std       14.684079
min        0.000078
25%        3.769352
50%        7.405853
75%       16.875542
max      100.000000
Name: streams, dtype: float64