In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel('dummy_dataset_column_transformers.xlsx')

In [3]:
df.head(5)

,Age,Gender,City,Income,Job Title,Education Level,Years of Experience,Hours Worked Per Week,Marital Status,Has Vehicle,Loan Amount (USD),Credit Score
0,51,Other,Chicago,128723.07,Engineer,Master,7,57,Married,No,45424.11,753
1,38,Male,Chicago,96896.52,Doctor,Bachelor,39,34,Married,No,40255.11,511
2,19,Other,Chicago,73485.54,Artist,PhD,34,47,Married,No,42682.97,576
3,29,Male,Chicago,40423.12,Teacher,PhD,1,24,Divorced,No,11579.27,693
4,34,Male,Houston,51299.99,Lawyer,High School,25,44,Married,No,42173.22,681

In [4]:
df.isnull().sum()

Age                      0
Gender                   0
City                     0
Income                   0
Job Title                0
Education Level          0
Years of Experience      0
Hours Worked Per Week    0
Marital Status           0
Has Vehicle              0
Loan Amount (USD)        0
Credit Score             0
dtype: int64

In [5]:
df['Gender'].value_counts()

Gender
Female    364
Other     342
Male      294
Name: count, dtype: int64

In [6]:
df['City'].value_counts()

City
Houston        216
Los Angeles    212
Phoenix        203
Chicago        193
New York       176
Name: count, dtype: int64

In [7]:
df['Job Title'].value_counts()

Job Title
Doctor      215
Lawyer      203
Engineer    202
Artist      192
Teacher     188
Name: count, dtype: int64

In [8]:
df['Education Level'].value_counts()

Education Level
PhD            257
Master         253
High School    247
Bachelor       243
Name: count, dtype: int64

In [9]:
df['Marital Status'].value_counts()

Marital Status
Single      352
Divorced    330
Married     318
Name: count, dtype: int64

gender --> male, female , others --> no order --> one hot encoding
city -->  no order --> one hot encoding
job title --> no order --> one hot encoding
educational level --> order --> ordinal encoding
maritial status --> one hot encoding

In [10]:
from sklearn.preprocessing import OrdinalEncoder

In [11]:
df_e = df.iloc[:,5:6]

In [12]:
df_e

    Education Level
0            Master
1          Bachelor
2               PhD
3               PhD
4       High School
..              ...
995          Master
996          Master
997             PhD
998     High School
999        Bachelor

[1000 rows x 1 columns]

In [13]:
oe = OrdinalEncoder(categories=[['Bachelor', 'High School','Master', 'PhD']])

In [14]:
oe.fit(df_e)

OrdinalEncoder(categories=[['Bachelor', 'High School', 'Master', 'PhD']])

In [15]:
X_train_e = oe.transform(df_e)

In [16]:
X_train_e

array([[2.],
       [0.],
       [3.],
       [3.],
       [1.],
       [1.],
       [1.],
       [3.],
       [2.],
       [2.],
       [2.],
       [0.],
       [3.],
       [2.],
       [3.],
       [3.],
       [2.],
       [1.],
       [0.],
       [2.],
       [3.],
       [1.],
       [3.],
       [3.],
       [3.],
       [2.],
       [2.],
       [3.],
       [1.],
       [0.],
       [2.],
       [0.],
       [1.],
       [1.],
       [2.],
       [2.],
       [1.],
       [1.],
       [2.],
       [3.],
       [3.],
       [0.],
       [2.],
       [3.],
       [3.],
       [1.],
       [2.],
       [1.],
       [0.],
       [0.],
       [2.],
       [0.],
       [2.],
       [3.],
       [2.],
       [1.],
       [3.],
       [1.],
       [3.],
       [0.],
       [2.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.],
       [3.],
       [1.],
       [0.],
       [2.],
       [3.],
       [0.],
       [0.],
       [2.],
       [1.],
       [2.],
       [1.],
       [2.],
       [0.],
       [3.],
       [1.],
       [2.],
       [1.],
       [3.],
       [2.],
       [3.],
       [1.],
       [3.],
       [1.],
       [2.],
       [3.],
       [2.],
       [1.],
       [2.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [2.],
       [3.],
       [0.],
       [0.],
       [1.],
       [0.],
       [3.],
       [1.],
       [0.],
       [2.],
       [0.],
       [2.],
       [0.],
       [2.],
       [1.],
       [2.],
       [0.],
       [0.],
       [2.],
       [2.],
       [2.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [2.],
       [2.],
       [3.],
       [2.],
       [0.],
       [1.],
       [1.],
       [1.],
       [2.],
       [3.],
       [3.],
       [2.],
       [2.],
       [0.],
       [3.],
       [1.],
       [2.],
       [1.],
       [3.],
       [0.],
       [2.],
       [0.],
       [1.],
       [1.],
       [3.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [3.],
       [0.],
       [3.],
       [0.],
       [3.],
       [0.],
       [3.],
       [1.],
       [3.],
       [3.],
       [2.],
       [0.],
       [3.],
       [1.],
       [0.],
       [2.],
       [1.],
       [2.],
       [2.],
       [0.],
       [0.],
       [3.],
       [0.],
       [2.],
       [2.],
       [0.],
       [1.],
       [3.],
       [3.],
       [2.],
       [0.],
       [0.],
       [3.],
       [2.],
       [3.],
       [0.],
       [3.],
       [1.],
       [1.],
       [1.],
       [1.],
       [2.],
       [3.],
       [2.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [3.],
       [3.],
       [1.],
       [3.],
       [2.],
       [3.],
       [2.],
       [1.],
       [3.],
       [2.],
       [0.],
       [0.],
       [3.],
       [1.],
       [0.],
       [1.],
       [3.],
       [2.],
       [2.],
       [2.],
       [0.],
       [1.],
       [0.],
       [2.],
       [3.],
       [0.],
       [0.],
       [3.],
       [1.],
       [1.],
       [0.],
       [3.],
       [2.],
       [1.],
       [2.],
       [1.],
       [2.],
       [1.],
       [1.],
       [2.],
       [1.],
       [0.],
       [1.],
       [2.],
       [1.],
       [1.],
       [1.],
       [2.],
       [2.],
       [1.],
       [3.],
       [0.],
       [2.],
       [3.],
       [3.],
       [3.],
       [2.],
       [3.],
       [3.],
       [0.],
       [0.],
       [2.],
       [1.],
       [0.],
       [0.],
       [2.],
       [3.],
       [2.],
       [0.],
       [3.],
       [1.],
       [0.],
       [0.],
       [2.],
       [3.],
       [3.],
       [2.],
       [0.],
       [2.],
       [1.],
       [0.],
       [3.],
       [0.],
       [2.],
       [1.],
       [0.],
       [2.],
       [0.],
       [0.],
       [1.],
       [2.],
       [2.],
       [2.],
       [3.],
       [3.],
       [0.],
       [2.],
       [1.],
       [2.],
       [2.],
       [3.],
       [2.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [3.],
       [2.],
       [1.],
       [1.],
       [2.],
       [0.],
       [0.],
       [3.],
       [1.],
       [3.],
       [0.],
       [0.],
       [0.],
       [2.],
       [2.],
       [1.],
       [3.],
       [2.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [0.],
       [2.],
       [0.],
       [3.],
       [3.],
       [3.],
       [0.],
       [3.],
       [1.],
       [0.],
       [2.],
       [3.],
       [0.],
       [0.],
       [3.],
       [1.],
       [3.],
       [1.],
       [1.],
       [2.],
       [1.],
       [1.],
       [1.],
       [2.],
       [0.],
       [0.],
       [2.],
       [1.],
       [2.],
       [3.],
       [1.],
       [1.],
       [1.],
       [2.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [3.],
       [3.],
       [3.],
       [1.],
       [2.],
       [1.],
       [3.],
       [3.],
       [3.],
       [3.],
       [3.],
       [3.],
       [0.],
       [3.],
       [0.],
       [3.],
       [0.],
       [2.],
       [1.],
       [0.],
       [3.],
       [3.],
       [2.],
       [0.],
       [2.],
       [0.],
       [1.],
       [2.],
       [3.],
       [2.],
       [1.],
       [0.],
       [2.],
       [3.],
       [2.],
       [1.],
       [0.],
       [3.],
       [3.],
       [1.],
       [2.],
       [1.],
       [0.],
       [0.],
       [3.],
       [1.],
       [3.],
       [1.],
       [3.],
       [3.],
       [0.],
       [3.],
       [3.],
       [0.],
       [2.],
       [1.],
       [1.],
       [3.],
       [0.],
       [2.],
       [0.],
       [1.],
       [3.],
       [3.],
       [3.],
       [3.],
       [0.],
       [3.],
       [2.],
       [3.],
       [3.],
       [1.],
       [3.],
       [3.],
       [2.],
       [2.],
       [3.],
       [1.],
       [2.],
       [2.],
       [2.],
       [3.],
       [0.],
       [3.],
       [3.],
       [1.],
       [0.],
       [2.],
       [0.],
       [2.],
       [0.],
       [2.],
       [3.],
       [1.],
       [1.],
       [0.],
       [0.],
       [2.],
       [3.],
       [0.],
       [2.],
       [2.],
       [2.],
       [2.],
       [2.],
       [1.],
       [2.],
       [1.],
       [0.],
       [1.],
       [3.],
       [3.],
       [2.],
       [1.],
       [1.],
       [2.],
       [1.],
       [1.],
       [2.],
       [1.],
       [3.],
       [2.],
       [2.],
       [3.],
       [1.],
       [2.],
       [2.],
       [2.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [3.],
       [2.],
       [1.],
       [0.],
       [3.],
       [0.],
       [0.],
       [2.],
       [1.],
       [2.],
       [2.],
       [1.],
       [1.],
       [3.],
       [3.],
       [0.],
       [2.],
       [2.],
       [3.],
       [1.],
       [1.],
       [2.],
       [3.],
       [1.],
       [2.],
       [3.],
       [0.],
       [3.],
       [0.],
       [0.],
       [0.],
       [1.],
       [2.],
       [2.],
       [2.],
       [2.],
       [0.],
       [2.],
       [3.],
       [3.],
       [0.],
       [2.],
       [2.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [2.],
       [1.],
       [3.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [3.],
       [2.],
       [0.],
       [1.],
       [2.],
       [3.],
       [1.],
       [3.],
       [3.],
       [3.],
       [1.],
       [3.],
       [3.],
       [0.],
       [0.],
       [3.],
       [0.],
       [3.],
       [2.],
       [1.],
       [0.],
       [2.],
       [1.],
       [3.],
       [0.],
       [0.],
       [3.],
       [0.],
       [0.],
       [3.],
       [3.],
       [1.],
       [0.],
       [2.],
       [2.],
       [1.],
       [3.],
       [3.],
       [2.],
       [0.],
       [2.],
       [1.],
       [2.],
       [3.],
       [0.],
       [2.],
       [0.],
       [0.],
       [0.],
       [0.],
       [2.],
       [0.],
       [0.],
       [1.],
       [3.],
       [3.],
       [3.],
       [2.],
       [3.],
       [3.],
       [1.],
       [0.],
       [3.],
       [2.],
       [2.],
       [3.],
       [1.],
       [0.],
       [3.],
       [1.],
       [3.],
       [0.],
       [0.],
       [2.],
       [1.],
       [1.],
       [0.],
       [1.],
       [2.],
       [3.],
       [0.],
       [1.],
       [3.],
       [3.],
       [3.],
       [3.],
       [0.],
       [1.],
       [0.],
       [3.],
       [3.],
       [3.],
       [1.],
       [0.],
       [3.],
       [3.],
       [0.],
       [1.],
       [1.],
       [1.],
       [3.],
       [3.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [3.],
       [0.],
       [0.],
       [3.],
       [2.],
       [0.],
       [2.],
       [2.],
       [3.],
       [2.],
       [3.],
       [3.],
       [0.],
       [2.],
       [1.],
       [0.],
       [0.],
       [3.],
       [3.],
       [0.],
       [3.],
       [3.],
       [3.],
       [2.],
       [2.],
       [2.],
       [1.],
       [2.],
       [3.],
       [0.],
       [1.],
       [1.],
       [1.],
       [3.],
       [3.],
       [3.],
       [2.],
       [0.],
       [2.],
       [1.],
       [1.],
       [0.],
       [2.],
       [0.],
       [1.],
       [0.],
       [1.],
       [3.],
       [2.],
       [0.],
       [2.],
       [2.],
       [2.],
       [2.],
       [0.],
       [0.],
       [2.],
       [0.],
       [3.],
       [2.],
       [2.],
       [3.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [3.],
       [0.],
       [3.],
       [3.],
       [1.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [2.],
       [2.],
       [2.],
       [1.],
       [3.],
       [0.],
       [0.],
       [0.],
       [2.],
       [3.],
       [2.],
       [2.],
       [3.],
       [2.],
       [0.],
       [2.],
       [2.],
       [3.],
       [2.],
       [0.],
       [2.],
       [3.],
       [2.],
       [0.],
       [2.],
       [2.],
       [3.],
       [2.],
       [3.],
       [1.],
       [3.],
       [3.],
       [3.],
       [3.],
       [1.],
       [0.],
       [1.],
       [2.],
       [2.],
       [3.],
       [3.],
       [2.],
       [1.],
       [2.],
       [3.],
       [2.],
       [1.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.],
       [2.],
       [0.],
       [1.],
       [1.],
       [0.],
       [3.],
       [0.],
       [1.],
       [3.],
       [1.],
       [0.],
       [1.],
       [1.],
       [3.],
       [3.],
       [3.],
       [0.],
       [3.],
       [2.],
       [1.],
       [3.],
       [1.],
       [1.],
       [2.],
       [1.],
       [0.],
       [0.],
       [3.],
       [1.],
       [1.],
       [3.],
       [3.],
       [1.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.],
       [0.],
       [2.],
       [3.],
       [1.],
       [0.],
       [2.],
       [2.],
       [0.],
       [2.],
       [0.],
       [3.],
       [0.],
       [1.],
       [3.],
       [3.],
       [1.],
       [3.],
       [2.],
       [3.],
       [0.],
       [0.],
       [3.],
       [3.],
       [2.],
       [2.],
       [3.],
       [1.],
       [0.],
       [0.],
       [3.],
       [0.],
       [3.],
       [2.],
       [3.],
       [3.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [3.],
       [2.],
       [1.],
       [0.],
       [0.],
       [2.],
       [0.],
       [2.],
       [0.],
       [2.],
       [1.],
       [3.],
       [3.],
       [1.],
       [0.],
       [3.],
       [0.],
       [0.],
       [2.],
       [0.],
       [3.],
       [1.],
       [2.],
       [2.],
       [3.],
       [1.],
       [0.],
       [2.],
       [0.],
       [3.],
       [0.],
       [0.],
       [3.],
       [2.],
       [0.],
       [2.],
       [2.],
       [2.],
       [2.],
       [3.],
       [0.],
       [0.],
       [1.],
       [1.],
       [2.],
       [2.],
       [2.],
       [1.],
       [3.],
       [2.],
       [3.],
       [1.],
       [2.],
       [0.],
       [3.],
       [1.],
       [1.],
       [1.],
       [2.],
       [3.],
       [3.],
       [3.],
       [3.],
       [3.],
       [0.],
       [0.],
       [2.],
       [3.],
       [0.],
       [1.],
       [0.],
       [2.],
       [1.],
       [2.],
       [0.],
       [3.],
       [1.],
       [3.],
       [3.],
       [0.],
       [2.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [2.],
       [0.],
       [2.],
       [0.],
       [1.],
       [3.],
       [3.],
       [1.],
       [2.],
       [2.],
       [1.],
       [1.],
       [3.],
       [1.],
       [1.],
       [3.],
       [2.],
       [2.],
       [3.],
       [1.],
       [0.]])

In [17]:
oe.categories_

[array(['Bachelor', 'High School', 'Master', 'PhD'], dtype=object)]

## One hot encoding

In [18]:
from sklearn.preprocessing import OneHotEncoder

In [19]:
ohe = OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [20]:
df.sample(3)

,Age,Gender,City,Income,Job Title,Education Level,Years of Experience,Hours Worked Per Week,Marital Status,Has Vehicle,Loan Amount (USD),Credit Score
332,40,Other,Chicago,69578.61,Artist,PhD,15,37,Married,No,49880.72,790
148,45,Female,Chicago,143997.67,Teacher,High School,1,20,Divorced,Yes,18001.60,656
274,29,Other,Houston,74601.36,Teacher,Master,14,21,Married,No,37102.22,781

In [21]:
df_oh = df[['Gender','City','Job Title','Marital Status']]

In [22]:
ohe_new = ohe.fit_transform(df_oh)

In [23]:
ohe_new

array([[0, 1, 0, ..., 0, 1, 0],
       [1, 0, 0, ..., 0, 1, 0],
       [0, 1, 0, ..., 0, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [1, 0, 1, ..., 0, 1, 0],
       [0, 1, 0, ..., 0, 0, 0]])

In [24]:
ohe_new.shape

(1000, 12)

In [25]:
np.hstack((df[['Age','Income','Years of Experience','Hours Worked Per Week','Has Vehicle','Loan Amount (USD)']].values,ohe_new,X_train_e))

array([[51, 128723.07, 7, ..., 1, 0, 2.0],
       [38, 96896.52, 39, ..., 1, 0, 0.0],
       [19, 73485.54, 34, ..., 1, 0, 3.0],
       ...,
       [56, 30283.65, 30, ..., 0, 1, 3.0],
       [26, 93635.4, 38, ..., 1, 0, 1.0],
       [44, 85290.71, 16, ..., 0, 0, 0.0]], dtype=object)

In [26]:
df2 = np.hstack((df[['Age','Income','Years of Experience','Hours Worked Per Week','Has Vehicle','Loan Amount (USD)']].values,ohe_new,X_train_e))

In [27]:
df2.shape

(1000, 19)

## The power of COLUMN TRANSFORMERS

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['Credit Score']),df['Credit Score'],
                                                test_size=0.2)

In [6]:
X_train

,Age,Gender,City,Income,Job Title,Education Level,Years of Experience,Hours Worked Per Week,Marital Status,Has Vehicle,Loan Amount (USD)
211,21,Other,Phoenix,117593.09,Teacher,High School,26,54,Divorced,No,30157.10
255,37,Female,Houston,102672.07,Artist,High School,36,44,Married,Yes,21033.11
500,60,Female,Houston,114063.60,Teacher,Master,13,48,Married,Yes,11262.48
885,50,Other,Los Angeles,62362.26,Doctor,PhD,22,48,Married,No,27041.77
285,24,Other,Chicago,72885.95,Engineer,Master,24,45,Divorced,Yes,19247.12
...,...,...,...,...,...,...,...,...,...,...,...
973,38,Other,Chicago,78356.98,Lawyer,High School,6,51,Single,No,27637.03
190,25,Male,Houston,88729.87,Lawyer,PhD,31,37,Single,No,35675.45
415,43,Female,Chicago,107797.79,Teacher,High School,12,23,Married,Yes,46085.88
798,41,Other,New York,125651.80,Engineer,High School,10,28,Single,Yes,34209.13
754,58,Male,Phoenix,69908.49,Lawyer,PhD,9,38,Married,Yes,30125.03

In [7]:
X_test

,Age,Gender,City,Income,Job Title,Education Level,Years of Experience,Hours Worked Per Week,Marital Status,Has Vehicle,Loan Amount (USD)
291,35,Other,Phoenix,117683.87,Teacher,Bachelor,11,51,Divorced,Yes,23759.88
611,32,Female,New York,87059.98,Lawyer,Master,22,34,Married,No,40573.10
128,19,Other,Houston,43440.36,Artist,PhD,20,55,Divorced,No,44825.31
370,36,Female,New York,68530.64,Doctor,Bachelor,25,35,Married,Yes,45194.09
985,54,Female,New York,85347.96,Artist,PhD,30,41,Married,Yes,26414.95
...,...,...,...,...,...,...,...,...,...,...,...
20,30,Female,Houston,73751.02,Doctor,PhD,26,46,Married,Yes,36024.47
550,57,Female,Los Angeles,97962.40,Artist,Master,6,28,Single,No,6531.26
116,51,Other,Phoenix,121819.30,Doctor,Bachelor,11,26,Married,No,23622.02
419,52,Male,New York,43590.97,Lawyer,Master,3,47,Divorced,No,31813.58
173,33,Other,Los Angeles,118544.27,Artist,Master,20,55,Single,Yes,12910.57

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [13]:
transformer = ColumnTransformer(transformers=[
    ('tnf1', OrdinalEncoder(categories=[['Bachelor', 'High School','Master', 'PhD'],['Yes', 'No']]), ['Education Level','Has Vehicle']),
    ('tnf2',OneHotEncoder(sparse_output=False,drop='first'),['Gender','City','Job Title','Marital Status',])
],remainder='passthrough')

In [15]:
transformed_data = transformer.fit_transform(df)

In [19]:
X_train_transformed=transformer.fit_transform(X_train)

In [17]:
transformer.transform(X_test).shape

(200, 19)

In [20]:
X_train_transformed

array([[1.000000e+00, 1.000000e+00, 0.000000e+00, ..., 2.600000e+01,
        5.400000e+01, 3.015710e+04],
       [1.000000e+00, 0.000000e+00, 0.000000e+00, ..., 3.600000e+01,
        4.400000e+01, 2.103311e+04],
       [2.000000e+00, 0.000000e+00, 0.000000e+00, ..., 1.300000e+01,
        4.800000e+01, 1.126248e+04],
       ...,
       [1.000000e+00, 0.000000e+00, 0.000000e+00, ..., 1.200000e+01,
        2.300000e+01, 4.608588e+04],
       [1.000000e+00, 0.000000e+00, 0.000000e+00, ..., 1.000000e+01,
        2.800000e+01, 3.420913e+04],
       [3.000000e+00, 0.000000e+00, 1.000000e+00, ..., 9.000000e+00,
        3.800000e+01, 3.012503e+04]])